button{
    width: 100px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #000;
    margin-bottom: 200px;
}

body{
    text-align: center;
}

.names{
    font-size: 10rem;
}

#xx{
    background-color: aquamarine;
    height: 10px;
    width: 0;
}